{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <a href="#" class="js-filter-add">
                <span class="fa fa-plus-circle"></span>
                Add Another Filter
            </a>
            {{ form_start(wrapper_form) }}
                <button type="submit" class="btn btn-primary" >Search</button>
                <ul class="tags" data-prototype="{{ form_widget(wrapper_form.filters.vars.prototype)|e('html_attr') }}">
                </ul>
            {{ form_end(wrapper_form) }}

        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Last visit</th>
                <th scope="col">Registartion date</th>
                <th scope="col">Plain password</th>
                <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.email }}</td>
                        <td>{{ user.lastVisit|date('Y-m-d') }}</td>
                        <td>{{ user.regDate|date('Y-m-d') }}</td>
                        <td>{{ user.password}}</td>
                        <td>{{ user.role }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <style>
        ul li {
            list-style-type: none;
        }
        .inputs-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">   </script>
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('.js-filter-add');
        var $newLinkLi = $('<li></li>');

        jQuery(document).ready(function() {


            function addTagForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                var newForm = prototype;
                // You need this only if you didn't set 'label' => false in your tags field in TaskType
                // Replace '__name__label__' in the prototype's HTML to
                // instead be a number based on how many items we have
                // newForm = newForm.replace(/__name__label__/g, index);

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                newForm = newForm.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
            }
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.tags');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);

                $('li > div').addClass('inputs-wrapper');
            });

        });
    </script>
{% endblock %}